article.post

  p.post-meta
    time.post-date(datetime="2014-10-09T20:40:14") 9. Oktober 2014
  h1.post-headline
    a.post-link--headline(href="#post") EdgeRouter VLAN Isolation
  .post-content
    p Verehrte Gemeinde,
    p nach langer<sup>1</sup> Pause melde ich mich wieder zu Wort und das gleich mit einem saftigen <a href="http://en.wikipedia.org/wiki/Rant" target="_blank">Rant</a>.
    p Quote:
    blockquote Before us, you are nothing.
    h1 Headline 1
    h2 Headline 2
    h3 Headline 3
    h4 Headline 4
    h5 Headline 5
    h6 Headline 6
    p Inline-Code: <code>10.0.0.1</code>
    p Wer die letzten Wochen nicht unter einem Stein verbracht hat, dürfte mitbekommen haben, dass die Ebola-Ausbrüche in West-Afrika langsam aber sicher zu einem globalen Problem werden. Ungefähr 3.500 Tote und 7.500 Infizierte — soweit die offiziellen <code>Zahlen</code>. Die Dunkelziffer dürfte weit höher sein.
    p Unordered List:
    ul
      li Item 1
      li Item 2
      li Nested List:
        ul
          li Item 1
          li Item 2
    p Ordered List:
    ol
      li Item 1
      li Item 2
    <div class="highlight"><pre class="chroma"><code class="language-javascript" data-lang="javascript"><span class="k">import</span> <span class="p">{</span> <span class="nx">shallow</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">'@vue/test-utils'</span>
    <span class="k">import</span> <span class="nx">fetchMock</span> <span class="nx">from</span> <span class="s1">'fetch-mock'</span>
    <span class="k">import</span> <span class="nx">flushPromises</span> <span class="nx">from</span> <span class="s1">'flush-promises'</span>
    <span class="k">import</span> <span class="nx">Demo</span> <span class="nx">from</span> <span class="s1">'@/components/Demo.vue'</span>
    </code></pre></div>
    <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-sh" data-lang="sh"><span class="line"><span class="cl">cp /usr/share/wireplumber/bluetooth.lua.d/50-bluez-config.lua ~/.config/wireplumber/bluetooth.lua.d/
    </span></span></code></pre></div>
    <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-kotlin" data-lang="kotlin"><span class="line"><span class="cl"><span class="k">fun</span> <span class="nf">createCookie</span><span class="p">(</span>
    </span></span><span class="line"><span class="cl">    <span class="n">name</span><span class="p">:</span> <span class="n">String</span><span class="p">,</span>
    </span></span><span class="line"><span class="cl">    <span class="k">value</span><span class="p">:</span> <span class="n">String</span><span class="p">,</span>
    </span></span><span class="line"><span class="cl">    <span class="n">lambda</span><span class="p">:</span> <span class="nc">ResponseCookieBuilder</span><span class="p">.()</span> <span class="o">-&gt;</span> <span class="n">Unit</span>
    </span></span><span class="line"><span class="cl"><span class="p">)</span> <span class="p">=</span> <span class="nc">ResponseCookie</span><span class="p">.</span><span class="n">from</span><span class="p">(</span><span class="n">name</span><span class="p">,</span> <span class="k">value</span><span class="p">).</span><span class="n">apply</span><span class="p">(</span><span class="n">lambda</span><span class="p">).</span><span class="n">build</span><span class="p">()</span>
    </span></span></code></pre></div>

    <table>
    <thead>
    <tr>
    <th>Device</th>
    <th>Build time with tests</th>
    <th>Build time without tests</th>
    </tr>
    </thead>

    <tbody>
    <tr>
    <td>MacBook Pro</td>
    <td>223 s</td>
    <td>183 s</td>
    </tr>

    <tr>
    <td>MacBook Air</td>
    <td>85 s</td>
    <td>63 s</td>
    </tr>

    <tr>
    <td>PC</td>
    <td>84 s</td>
    <td>66 s</td>
    </tr>
    </tbody>
    </table>

    <table>
    <thead>
    <tr>
    <th>Device</th>
    <th>Test duration</th>
    </tr>
    </thead>

    <tbody>
    <tr>
    <td>MacBook Pro native</td>
    <td>1.9 s</td>
    </tr>

    <tr>
    <td>MacBook Air with Rosetta 2</td>
    <td>1.1 s</td>
    </tr>

    <tr>
    <td>PC native</td>
    <td>1.3 s</td>
    </tr>
    </tbody>
    </table>
