article.post
  h1.post-headline
    a.post-link--headline(href="#post") Wie Ebola auf den Hund gekommen ist
  .post-content
    p Verehrte Gemeinde,
    p nach langer<sup>1</sup> Pause melde ich mich wieder zu Wort und das gleich mit einem saftigen <a href="http://en.wikipedia.org/wiki/Rant" target="_blank">Rant</a>.
    p Quote:
    blockquote Before us, you are nothing.
    h2 Headline 2
    h3 Headline 3
    h4 Headline 4
    h5 Headline 5
    h6 Headline 6
    p Inline-Code: <code>10.0.0.1</code>
    p Wer die letzten Wochen nicht unter einem Stein verbracht hat, dürfte mitbekommen haben, dass die Ebola-Ausbrüche in West-Afrika langsam aber sicher zu einem globalen Problem werden. Ungefähr 3.500 Tote und 7.500 Infizierte — soweit die offiziellen Zahlen. Die Dunkelziffer dürfte weit höher sein.
    p Unordered List:
    ul
      li Item 1
      li Item 2
      li Nested List:
        ul
          li Item 1
          li Item 2
    p Ordered List:
    ol
      li Item 1
      li Item 2
    pre
      code.ruby
        | class Article
        |   include Anima.new(:title, :content, :tags)
        | end
        | article = Article.new(
        |   title: 'Ruby is awesome',
        |   content: '...',
        |   tags: ['Ruby']
        | )
  p.post-meta
    time.post-date(datetime="2014-10-09T20:40:14") 9. Oktober 2014
    | &nbsp;&middot;&nbsp;
    a.post-link--meta(href="#post-comments") 24 Kommentare