title webcodr
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5")
meta(charset="UTF-8")
script(type="module" src="./assets/js/application.js")
link(rel="stylesheet", href="./assets/styles/application.scss")