.container
   header.header
      p.header-title
         a.header-link(href="#home") webcodr

      .theme-toggle
         .theme-toggle__wrapper#theme-toggle
            label.theme-toggle__desc(for="toggle-checkbox") Dark Mode
            .toggle
               input(type="checkbox" id="toggle-checkbox")
               span.slider
