title webcodr
link(href="//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic", rel="stylesheet", type="text/css")
link(href="//fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet" type="text/css")
link(href="//fonts.googleapis.com/css?family=Droid+Sans+Mono", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="css/application.css")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
meta(charset="UTF-8")
link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/solarized-light.min.css")
script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js")
script(type='text/javascript').
    hljs.initHighlightingOnLoad();