title webcodr
link(rel="stylesheet", href="css/application.css")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
meta(charset="UTF-8")
script(src="js/application.js")
script(type='text/javascript').
    hljs.initHighlightingOnLoad();
