.pagination
  .pagination__item.pagination__item-position-prev
    a.pagination__link(href="#prev") &larr; previous posts
  .pagination__item.pagination__item-position-next
    a.pagination__link(href="#prev") next posts &rarr;
