
// colors
$c_white: #fff;
$c_light-grey: #f7f7f7;
$c_medium-grey: #9B9B9B;
$c_dark-grey: #4A4A4A;
$c_dark-purple: #8925E7;
$c_medium-purple: #BD10E0;
$c_magenta: #FF3E81;

:root {
  --container-background-color: #{$c_white};
  --header-title-background-color: #{$c_dark-purple};
  --header-title-text-color: #{$c_white};
  --footer-text-color: #{$c_medium-grey};
  --post-text-color: #{$c_dark-grey};
  --post-meta-text-color: #{$c_medium-grey};

  --headline-base-color: #{lighten($c_dark-purple, 10%)};
  --headline-seconday-color: #{$c_magenta};
  --headline-tertiary-color: #{$c_medium-purple};

  --code-background-color: #24273a;
  --code-text-color: #f5a97f;
  --code-scrollback-background-color: #4a4a4a;

  --blockquote-border-color: #{$c_dark-purple};
}

[data-theme="dark"] {
  --container-background-color: #{darken($c_dark-grey, 20%)};
  --post-text-color: #{$c_white};
  --code-background-color: #24273a;
  --code-text-color: #f5a97f;
}
