@use "sass:color";

:root {
  --container-background-color: #303446;
  --header-title-background-color: #7287fd;
  --header-title-text-color: #fff;
  --footer-text-color: #cad3f5;
  --post-text-color: #c6d0f5;
  --post-meta-text-color: #cad3f5;

  --headline-base-color: #99d1db;
  --headline-seconday-color: #e78284;
  --headline-tertiary-color: #e5c890;

  --code-background-color: #24273a;
  --code-text-color: #ef9f76;
  --code-scrollback-background-color: #4a4a4a;

  --blockquote-border-color: #cba6f7;
}
