.container {
  width: auto;
}

.container--main {
  padding-top: 2em;
  background: var(--container-background-color);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 840px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
}
