.container {
  width: auto;
}

.container--main {
  padding-top: 2em;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
}
