.footer {
  color: var(--footer-text-color);
  margin: 0 10px;
  padding: 0.5ex 0 1em 0;
}

.footer-menu {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  flex-direction: column;
  list-style-type: none;
  margin: 1ex 0;
  width: 100%;
}

.footer-link {
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 840px) {
  .footer {
    margin: 0;
  }
}
