.header-title {
  margin: 0;
  padding: 10px;
  font-size: 36px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background: var(--header-title-background-color);
  color: var(--header-title-text-color);
}

.header-link {
  color: inherit;
  text-decoration: none;
}

.theme-toggle {
  display: flex;
  margin-top: 1em;
  margin-right: 10px;
  justify-content: flex-end;
}

.theme-toggle__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-toggle__desc {
  margin-right: 0.5em;
  line-height: 1em;
}

@media screen and (min-width: 840px) {
  .header {
    padding-top: 1em;
  }

  .theme-toggle {
    margin-right: 0;
  }
}
