h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline-base-color);
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 1em 0;
  padding: 0 10px 0 10px;
}

h1 {
  font-size: 48px;
  color: var(--headline-seconday-color);
}

h2 {
  font-size: 36px;
  color: var(--headline-tertiary-color);
}

h3 {
  font-size: 24px;
}

h4,
h5,
h6 {
  font-size: 20px;
}

@media screen and (min-width: 840px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-left: 0;
    padding-right: 0;
  }
}
