.pagination {
  display: flex;
  margin: 0 10px;
}

.pagination__item {
  flex-direction: row;
  width: 50%;
}

.pagination__item-position-prev {
  text-align: left;
}

.pagination__item-position-next {
  text-align: right;
}

.pagination__link {
  color: var(--post-text-color);
  text-decoration: none;
}

.pagination__link:hover {
  color: var(--hheadline-seconday-color);
}

@media screen and (min-width: 640px) {
  .pagination {
    margin: 0;
  }
}
