.post {
  margin-bottom: 5em;

  &:last-of-type {
    margin-bottom: 2em;
  }
}

.post-meta {
  color: $post-meta-text-color;
  letter-spacing: 0.1em;
  font-size: 16px;
  margin: 0 0 1em 0;
  padding: 0.2em 10px;
}

.post-date {
  color: inherit;
}

.post-link--meta {
  color: inherit;
}

.post-language {
  position: relative;
  top: 2px;
  font-size: 17px;
}

.post-headline {
  margin: 0 0 0.75em 0;
  line-height: 1em;
}

.post-link--headline {
  color: inherit;
  text-decoration: none;
}

.post-content {
  font-size: 18px;
  line-height: 1.8em;

  p {
    margin-bottom: 1em;
    padding: 0 10px;
  }

  a {
    color: $post-text-color;
    text-decoration: none;
    border-bottom: 2px solid $post-text-color;
  }

  li {
    margin: 0.3em 0 0.3em 0;
  }

  blockquote {
    border-left: 4px solid $blockquote-border-color;
    margin: 1.5em 0 0 1.5em;
    padding: 0 1.5em;
    font-style: italic;
  }

  img {
    max-width: 100%;
  }

  pre {
    margin: 1em 10px;
  }

  code {
    border-radius: 5px;
    font-family: "Droid Sans Mono", monospace;
    font-size: 14px;
    line-height: 1.5em;
  }

  p, ul {
    code {
      padding: 0.2em 0.3em;
      background-color: $code-background-color;
      color: $code-text-color;
    }
  }
}

@media screen and (min-width: 640px) {
  .post-meta {
    padding: 0.2em 0;
  }

  .post-content {
    pre {
      margin: 1em 0;
    }

    code {
      margin: 0;
    }

    p {
      padding: 0;
    }
  }
}
