@import 'sanitize';

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "components/headlines";
@import "components/header";
@import "components/footer";
@import "components/container";
@import "components/post";
