@import 'sanitize';
@import 'base/colors';
@import 'base/fonts';

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--post-text-color);
  background: var(--container-background-color);
}

@import "components/headlines";
@import "components/header";
@import "components/footer";
@import "components/container";
@import "components/post";
@import "components/pagination";
@import "components/toggle";

@import "theme.css";
